In [0]:

# Task 1: FOR Loop
# Iterate through a list and print elements
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

# Calculate the sum of numbers within a range
print("\nSum of numbers from 1 to 10:")
total = 0
for num in range(1, 11):  # Numbers from 1 to 10
    total += num
print("Sum:", total)

# Generate a multiplication table using nested loops
for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} x {j} = {i * j}", end="\t")
    print()

1
2
3
4
5

Sum of numbers from 1 to 10:
Sum: 55
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25

In [0]:
# Check if a number is positive, negative, or zero (with user input)
print("Check if a number is positive, negative, or zero:")

# Ask user for input and convert it to an integer
num = int(input("Enter a number: "))

# Check conditions
if num > 0:
    print(f"{num} is Positive")
elif num < 0:
    print(f"{num} is Negative")
else:
    print(f"{num} is Zero")

Check if a number is positive, negative, or zero:

Enter a number:  7

7 is Positive

In [0]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 > num2:
    print(f"{num1} is the larger number.")
elif num1 < num2:
    print(f"{num2} is the larger number.")
else:
    print("Both numbers are equal.")

Enter the first number:  34

Enter the second number:  43

43 is the larger number.

In [0]:
score = int(input("Enter the score: "))

if score >= 90:
    print("Grade A")
elif score >= 80:
    print("Grade B")
elif score >= 70:
    print("Grade C")
elif score >= 60:
    print("Grade D")
else:
    print("Grade F")

Enter the score:  88

Grade B

In [0]:
for number in range(10):
    if number == 5:
        print("Found 5! Exiting loop...")
        break  # Exits the loop when the number is 5
    print(number)

0
1
2
3
4
Found 5! Exiting loop...

In [0]:
for number in range(10):
    if number == 5:
        pass  # Skips the number 5, but continues the loop
    else:
        print(number)

0
1
2
3
4
6
7
8
9

In [0]:
for number in range(10):
    if number % 2 == 0:
        pass  # Skips even numbers
    elif number == 7:
        print("Found 7! Exiting loop...")
        break  # Exits the loop when the number is 7
    else:
        print(number)

1
3
5
Found 7! Exiting loop...

In [0]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
num = int(input("Enter a number to find its factorial: "))
print(f"The factorial of {num} is {factorial(num)}")

Enter a number to find its factorial:  25

The factorial of 25 is 15511210043330985984000000

In [0]:
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = input("Enter a string to reverse: ")
print(f"The reversed string is: {reverse_string(input_string)}")

Enter a string to reverse:  sad

The reversed string is: das

In [0]:
def find_max(numbers):
    return max(numbers)

# Example usage
number_list = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
print(f"The maximum value in the list is: {find_max(number_list)}")

Enter a list of numbers separated by spaces:  2 3 4 55 67 65 54

The maximum value in the list is: 67

In [0]:
from pyspark.sql.functions import current_date

# Get the current date
df = spark.createDataFrame([("dummy",)], ["dummy"])  # Example dataframe
df.withColumn("current_date", current_date()).show()

+-----+------------+
|dummy|current_date|
+-----+------------+
|dummy|  2025-03-16|
+-----+------------+

In [0]:
from pyspark.sql.functions import dayofmonth, month, year

# Sample DataFrame with a date column
data = [("2025-03-16",), ("2024-12-25",)]
df = spark.createDataFrame(data, ["date_column"])

# Extract day, month, and year
df = df.withColumn("day", dayofmonth("date_column")) \
       .withColumn("month", month("date_column")) \
       .withColumn("year", year("date_column"))

df.show()

+-----------+---+-----+----+
|date_column|day|month|year|
+-----------+---+-----+----+
| 2025-03-16| 16|    3|2025|
| 2024-12-25| 25|   12|2024|
+-----------+---+-----+----+

In [0]:
from pyspark.sql.functions import date_add

# Add 5 days to the date_column
df = df.withColumn("new_date", date_add("date_column", 5))

df.show()

+-----------+---+-----+----+----------+
|date_column|day|month|year|  new_date|
+-----------+---+-----+----+----------+
| 2025-03-16| 16|    3|2025|2025-03-21|
| 2024-12-25| 25|   12|2024|2024-12-30|
+-----------+---+-----+----+----------+

In [0]:
from pyspark.sql.functions import col

# Sample DataFrame
data = [(1, "John", 25), (2, "Alice", 30), (3, "Bob", 22), (4, "Charlie", 35)]
df = spark.createDataFrame(data, ["ID", "Name", "Age"])

# Filter rows where Age is greater than 25
filtered_df = df.filter(col("Age") > 25)
filtered_df.show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  2|  Alice| 30|
|  4|Charlie| 35|
+---+-------+---+

In [0]:
from pyspark.sql.functions import col

# Filter rows where Age is greater than 25 and Name is not "Bob"
filtered_df = df.filter((col("Age") > 25) & (col("Name") != "Bob"))
filtered_df.show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  2|  Alice| 30|
|  4|Charlie| 35|
+---+-------+---+

In [0]:
# Filter rows where Name is "John"
filtered_df = df.filter(col("Name") == "John")
filtered_df.show()

+---+----+---+
| ID|Name|Age|
+---+----+---+
|  1|John| 25|
+---+----+---+

In [0]:
from pyspark.sql.functions import col

# Sample DataFrame
data = [(1, 10, 20), (2, 15, 30), (3, 10, 25), (4, 20, 40)]
df = spark.createDataFrame(data, ["ID", "Value1", "Value2"])

# Create a new column based on arithmetic operations (Value1 + Value2)
df = df.withColumn("Sum", col("Value1") + col("Value2"))
df.show()

+---+------+------+---+
| ID|Value1|Value2|Sum|
+---+------+------+---+
|  1|    10|    20| 30|
|  2|    15|    30| 45|
|  3|    10|    25| 35|
|  4|    20|    40| 60|
+---+------+------+---+

In [0]:
from pyspark.sql.functions import when, col

# Categorize Age into groups
df = df.withColumn("Category", when(col("Value1") > 15, "High").otherwise("Low"))
df.show()

+---+------+------+---+--------+
| ID|Value1|Value2|Sum|Category|
+---+------+------+---+--------+
|  1|    10|    20| 30|     Low|
|  2|    15|    30| 45|     Low|
|  3|    10|    25| 35|     Low|
|  4|    20|    40| 60|    High|
+---+------+------+---+--------+

In [0]:
from pyspark.sql.functions import upper

# Add a column with transformed string values (convert Name to uppercase)
data = [(1, "john"), (2, "alice"), (3, "bob")]
df = spark.createDataFrame(data, ["ID", "Name"])

df = df.withColumn("Upper_Name", upper(col("Name")))
df.show()

+---+-----+----------+
| ID| Name|Upper_Name|
+---+-----+----------+
|  1| john|      JOHN|
|  2|alice|     ALICE|
|  3|  bob|       BOB|
+---+-----+----------+

In [0]:
from pyspark.sql import Row

# Create a DataFrame using a string literal
data = [("DATAFLOW",), ("PYTHON",), ("SPARK",)]
df = spark.createDataFrame(data, ["Column1"])

df.show()

+--------+
| Column1|
+--------+
|DATAFLOW|
|  PYTHON|
|   SPARK|
+--------+

In [0]:
from pyspark.sql.functions import col

# Filter rows where Column1 is "DATAFLOW"
filtered_df = df.filter(col("Column1") == "DATAFLOW")
filtered_df.show()

+--------+
| Column1|
+--------+
|DATAFLOW|
+--------+

In [0]:
from pyspark.sql.functions import lit

# Add a new column with the string literal "DATAFLOW"
df = df.withColumn("Constant_Column", lit("DATAFLOW"))
df.show()

+--------+---------------+
| Column1|Constant_Column|
+--------+---------------+
|DATAFLOW|       DATAFLOW|
|  PYTHON|       DATAFLOW|
|   SPARK|       DATAFLOW|
+--------+---------------+

In [0]:
# Sample DataFrames
data1 = [(1, "Alice"), (2, "Bob"), (3, "Charlie")]
data2 = [(1, "HR"), (2, "Engineering"), (4, "Finance")]
df1 = spark.createDataFrame(data1, ["ID", "Name"])
df2 = spark.createDataFrame(data2, ["ID", "Department"])

# Inner join
inner_join_df = df1.join(df2, "ID", "inner")
inner_join_df.show()

# Left join
left_join_df = df1.join(df2, "ID", "left")
left_join_df.show()

# Full Outer join
full_outer_join_df = df1.join(df2, "ID", "outer")
full_outer_join_df.show()

+---+-----+-----------+
| ID| Name| Department|
+---+-----+-----------+
|  1|Alice|         HR|
|  2|  Bob|Engineering|
+---+-----+-----------+

+---+-------+-----------+
| ID|   Name| Department|
+---+-------+-----------+
|  1|  Alice|         HR|
|  2|    Bob|Engineering|
|  3|Charlie|       null|
+---+-------+-----------+

+---+-------+-----------+
| ID|   Name| Department|
+---+-------+-----------+
|  1|  Alice|         HR|
|  2|    Bob|Engineering|
|  3|Charlie|       null|
|  4|   null|    Finance|
+---+-------+-----------+

In [0]:
# Left Join with handling null values
left_join_df = df1.join(df2, "ID", "left")

# Replace null values with a default value in the Department column
left_join_df = left_join_df.fillna({"Department": "Unknown"})
left_join_df.show()

+---+-------+-----------+
| ID|   Name| Department|
+---+-------+-----------+
|  1|  Alice|         HR|
|  2|    Bob|Engineering|
|  3|Charlie|    Unknown|
+---+-------+-----------+